<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width">
  <meta name="title" content="">
	<meta name="description" content="">

  <meta name="author" content="">
	<meta name="twitter:card" content="product">
	<meta name="twitter:site" content="@roppersacademy">
	<meta name="twitter:title" content="Roppers' Security Courses">
	<meta name="twitter:description" content="Free training on computing and security fundamentals.">
	<meta name="twitter:image" content="https://raw.githubusercontent.com/hoppersroppers/hoppersroppers.github.io/master/_layouts/compass.png">
	<meta name="twitter:label1" content="">
	<meta name="twitter:data1" content="">
	<meta name="twitter:label2" content="">
	<meta name="twitter:data2" content="">
	<meta name="google-site-verification" content="6MSUHcSv5TyDOq_YABitl9iVmJl8MZdPnl-_jke3lBc" />

    <title>Roppers Academy</title>

    <link rel="icon" href="https://raw.githubusercontent.com/hoppersroppers/hoppersroppers.github.io/master/_layouts/compass.png" type="image/x-icon">

     <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">
    <style>
	#div.purechat-container {
	  overflow: hidden;
	}
	    .navbar-default.nav-top ul {
  display: inline-block;
  float: right;

}
.navbar-default ul.navbar-top li {
  float: left;
  font-size: 11px;

}
	    
.navbar-default {
    background-color: #1111;
    border-color: #1111;
}	    
.navbar-brand {
  margin: -40px;
}
	    body {
    padding-top: 0px; 
}
    </style>
    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

	<!-- Footer CSS -->
	<link rel="stylesheet" href="css/Footer-with-logo.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->



</head>
<body>

<nav class="navbar-default nav-top">
  <div class="container-fluid">
    <ul class="nav navbar-top" >
      <li>
                      <a href="/about.html"><b>About</b></a>
          </li>


          <li>
                  <div class="dropdown">
		  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    Courses
		  </button>
		  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			  <ul>
		    <li><a class="dropdown-item" href="/training.html"><b> Browse All Courses</b> </a>
	            </li><li><a class="dropdown-item" href="/roadmap">Choose Your Own Adventure</a>
		    </li><li><a class="dropdown-item" href="/course.html">Introduction to Computing Fundamentals</a>
	            </li><li><a class="dropdown-item" href="/courseCTF.html">Introduction to Capture the Flags</a>
		    </li><li> <a class="dropdown-item" href="/courseSecurity.html">Introduction to Security</a>
		    </li><li><a class="dropdown-item" href="/hardstuff.html">Fundamentals of Reverse Engineering</a>
	            </li><li><a class="dropdown-item" href="/ctfNetworks.html">Learn Networking with Capture the Flag</a>
		    </li><li><a class="dropdown-item" href="/rootkit.html">Fundamentals of Linux Implant Development</a>
		</li>
			  </ul>
		  </div>
		</div>  
	    </li>
		    <li>
			    <a href="/library"><b>Library</b></a>
          </li>

    <li>
	    <div class="dropdown">
		  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    How to Help
		  </button>
		  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			  <ul>
		    <li><a class="dropdown-item" href="/help.html">Support Us</a>
	            </li><li><a class="dropdown-item" href="/sponsors.html">Sponsor Opportunities</a>
		    </li><li><a class="dropdown-item" href="/partners.html">Partner Programs</a>
			  
	       
		</li>
			  </ul>
		  </div>
		</div>  


          </li>



      </ul>
  </div>
</nav>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>

      </button>
      <a class="navbar-brand" href="/index.html">
        <img src="https://raw.githubusercontent.com/hoppersroppers/hoppersroppers.github.io/master/_layouts/whitecompass.png" width="40">
      </a>

    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav " style="margin-left:150px;">
        <li>
                      <a href="/index.html"><b>For Hackers</b></a>
          </li>


         <!--  <li>
              <li>
                    <a href="/business.html"><b>For Business</b></a>
          </li> -->
          <li>
             
		    <a href="/educators.html"><b>For Educators</b></a>
          </li>
	    <li>
                      <a href="/ctfTeams.html"><b>For CTF Teams</b></a>
          </li>
	     <li>
                      <a href="/veterans.html"><b>For Veterans</b></a>
          </li>
      </ul>
    </div>
  </div>
</nav>


  {{ content }}


</div>

<div class="col-md-4">
	<br>
</div>

	</div>

<footer id="myFooter">

        <div class="container">

            <div class="row">
                <div class="col-sm-3">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="help.html">How to Help</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>What We Do</h5>
                    <ul>
                        <li><a href="training.html">Training</a></li>
                        <li><a href="community.html">Community</a></li>
                        <li><a href="competition.html">Competition</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Other</h5>
                    <ul>
                        <li><a href="contact.html">Contact Us</a></li>
                        <li><a href="sponsors.html">Our Sponsors</a></li>
                        <li><a href="partners.html">Our Partners</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 info">
                    <h5>Information</h5>
                    <p>  </p>
			<a class="btn btn-md btn-default" href="mailto:contact@hoppersroppers.org"> <b> Email Me! </b></a>
                </div>
            </div>
        </div>
        <div class="second-bar">
           <div class="container">
                <h2 class="logo"><a href="index.html">Roppers</a></h2>
	
                <div class="social-icons">
		 <p class="m-0 text-center text-white">Copyright &copy; Roppers Academy 2021</p>
                </div>
            </div>
        </div>

	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-151638088-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-151638088-2');
</script>


    </footer>
